 <div class="ui teal secondary pointing menu">
    <a class="item" [routerLink]="['/Home']"
      [class.active]="router.isRouteActive(router.generate(['/Home']))">
       Home 
    </a>
    
    <a class="item" [routerLink]="['/Profile']"
       [class.active]="router.isRouteActive(router.generate(['/Profile']))">
       Profile 
    </a>
    <a class="active item" [routerLink]="['/Files']"
       [class.active]="router.isRouteActive(router.generate(['/Files']))">
       Files
    </a>
    <a class="item" [routerLink]="['/About']"
       [class.active]="router.isRouteActive(router.generate(['/About']))">
       About
    </a>

    <div class="right menu">
     <div *ngIf="userService.getLoggedUser()">
         Logged in as <b> {{ userService.getLoggedUser() }}</b>
         <a href (click)="logout()">Log out</a>
         <hr>
     </div>
    </div>
 </div>

 <router-outlet></router-outlet>

