<div class="login ui ">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form">
                <div class="ui stacked segment">
                  <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="oldPassword"
                                   placeholder = "Old password"
                                   #oldPassword>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="newPassword"
                                   placeholder = "New password"
                                   #newPassword>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text"
                                   name="repeatedPassword"
                                   placeholder = "Repeat new password"
                                   #repeatedPassword>
                        </div>
                    </div>
                </div>
                <div class="ui fluid teal submit button" (click)="changePassword(oldPassword.value, newPassword.value, repeatedPassword.value)">
                    Change Password
                </div>
            </form>
        </div>
    </div>
</div>