<div *ngIf="done" class="login ui ">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form">
                <div class="ui stacked segment">
                  <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="firstName"
                                   value="{{user.firstName}}"
                                   #firstName>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="lastName"
                                   value="{{user.lastName}}"
                                   #lastName>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text"
                                   name="email"
                                   value="{{user.email}}"
                                    #email>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="username"
                                   value="{{user.username}}"
                                   #username>
                        </div>
                    </div>
                </div>
                <div class="ui fluid teal submit button" (click)="submit(firstName.value, lastName.value, email.value, username.value)">
                    Save
                </div>
                <br/>
                <div class="ui fluid teal submit button" (click)="changePassword()">
                    Change Password
                </div>
            </form>
        </div>
    </div>
</div>