<div *ngIf="done" >
    <div class="ui three column center aligned middle centered grid">
        <div class="column">
              <div class="four column centered row">
                <form class="ui medium form">
                  <div class="ui stacked segment pink">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="firstName"
                                   value="{{user.firstName}}"
                                   #firstName>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="lastName"
                                   value="{{user.lastName}}"
                                   #lastName>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text"
                                   name="email"
                                   value="{{user.email}}"
                                    #email>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="username"
                                   value="{{user.username}}"
                                   #username>
                        </div>
                    </div>
                </div>
                <div class="ui fluid pink submit button" (click)="submit(firstName.value, lastName.value, email.value, username.value)">
                    Save
                </div>
                <br/>
                <div class="ui fluid pink submit button" (click)="changePassword()">
                    Change Password
                </div>
            </form>
          </div>
        </div>
    </div>
</div>