<h1 *ngIf="programSource">{{programSource.name}}</h1>
<div class="ui secondary  menu">

	<a class="item teal" (click)="gotoResults(id)"
	   [class.active]="router.isRouteActive(router.generate(['FileResult']))">
		Results
	</a>
	<a class="item teal" (click)="gotoSource(id)" 
	  [class.active]="router.isRouteActive(router.generate(['SourceFile']))">
		Source
	</a>
	<a class="item teal" (click)="gotoNewVerification(id)" 
	  [class.active]="router.isRouteActive(router.generate(['NewVerificationCall']))">
		New Verification
	</a>
</div>
<router-outlet></router-outlet>
