<div class="ui container">
  <div class="ui left aligned  grid">
     <div class="three wide column">
        <div>
        </div>

        <div class="ui vertical menu">

            <a class="item" [routerLink]="['/Files/Results']"
	            [class.active]="router.isRouteActive(router.generate(['/Files/Results']))">
 				Results
                <div class="ui teal pointing left label">1</div>
 			</a>
            <a class="item" [routerLink]="['/Files']"
               [class.active]="router.isRouteActive(router.generate(['/Files']))">
			   Files
			</a>

        </div>
    </div>
    
    <div class="twelve wide stretched column">
        <div class="ui segment">
        	<div>
         		<router-outlet></router-outlet>
            </div>
         </div>
    </div>
 </div>
</div>
