<h1> New verification call </h1>
<div>
	<div *ngFor="let flag of chosenFlags" class="ui red tag label">
		{{flag.name}}: {{flag.value}}
		<i class="delete icon" (click)="removeFlag(flag)"></i>
	</div>
</div>
<sui-search placeholder="Flag..." [icon]="true" [options]="options" [searchDelay]="0"
           (onItemSelected)="alertSelected($event)">
</sui-search>

<div *ngIf="selectedFlag">
	
	<div class="ui red tag label">
	 {{selectedFlag.name}}: {{selectedFlag.value}}

	</div>
   	<div class="field">

   	<!-- za brojevne flegove -->
    <div *ngIf="currentFlagType === 'number'" class="ui input">
   		   
    		<input type="number" [(ngModel)]="selectedFlag.value" [min]="selectedFlag.min" [max]="selectedFlag.max"  >
    		<label> value: ({{selectedFlag.min}}-{{selectedFlag.max}} default: {{selectedFlag.default}})	</label>
    		{{selectedFlag.value}}
    </div>

    <!-- za bool flegove -->
    <div *ngIf="currentFlagType === 'boolean'" class="ui checkbox">
    	<input type="checkbox" [(ngModel)]="selectedFlag.value">
    		<label>(default: {{selectedFlag.default}})	</label>
    		{{selectedFlag.value}}
    </div>

    <!-- za niske flegove -->
     <div *ngIf="currentFlagType === 'string'" class="ui input">

    	<input type="text" [(ngModel)]="selectedFlag.value">
    		{{selectedFlag.value}}
    </div>
    </div>
    <button class="ui teal button" (click)="addFlag()">Add flag</button>
</div>