<div *ngIf="done" class="login ui ">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                    Profile
                    <button (click)="editProfile()"><i class="edit icon"></i></button>
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text"
                                   name="email"
                                   placeholder="Email"
                                   value="{{user.email}}"
                                   [readonly]="!edit"
                                    #email>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text"
                                   name="username"
                                   value="{{user.username}}"
                                   [readonly]="!edit"
                                   #username>
                        </div>
                    </div>
                </div>
                <div class="ui fluid large teal submit button" (click)="submit('Perica', 'Zderica', email.value, username.value)">
                    Save
                </div>
            </form>
        </div>
    </div>
</div>