
<h4> Source file... </h4>
<div *ngIf="programSource && lastVerificationCall">
	<div>
		<label> file name: {{ programSource.name }} </label>
	</div>
	<div>
		<label> status: {{ lastVerificationCall.stdoutMsg }}</label>
		
		<div>
			<div *ngIf="lastVerificationCall.stdoutMsg === 'Verified'">
				<i class="green check circle icon huge"></i>
			</div>
			<div *ngIf="lastVerificationCall.stdoutMsg !== 'Verified'">
				<i class="red attention icon huge"></i>
				<div>
					Reason: {{ lastVerificationCall.errorMsg }}
				</div>
				
			</div>
		</div>
	</div>
	
</div>

<div *ngIf="!(programSource || lastVerificationCall)">
	loading....
</div>

