
<div *ngIf="programSource">
	<div class="ui horizontal segments">

		<div class="ui segment">
			<div class="ui top left attached pink label">{{ programSource.name }}</div>
			<div padding="0">
			<editor></editor>
			</div>
		</div>

		<div *ngIf="lastVerificationCall" class="ui segment">
			
			<div class="ui top attached label"
				[class.teal]="lastVerificationCall.stdoutMsg==='Verified'"
				[class.red]="lastVerificationCall.stdoutMsg!=='Verified'"
			>
				{{ lastVerificationCall.status }}
			</div>
			
			<div>
				<div *ngIf="lastVerificationCall.stdoutMsg === 'Verified'">
					<i class="teal check circle icon huge"></i>
				</div>
				<div *ngIf="lastVerificationCall.stdoutMsg !== 'Verified'">
					<i class="red attention icon huge"></i>
					<div>
						{{ lastVerificationCall.errorMsg }}
					</div>
					
				</div>
			</div>
		</div>
	

	</div>

</div>

<div *ngIf="!(programSource || lastVerificationCall)">
	loading....
</div>
